version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: app
    ports:
      - "5432:5432"

  dockadmin:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
